--
-- PostgreSQL database dump
--

\restrict cqFcpX4JmVx2s3Z1sUj8qVnEHd1pJLH5kBizP2jbZtfm56iFxycb0OYT1lFFBkf

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP POLICY IF EXISTS tenant_isolation_user ON public."User";
DROP POLICY IF EXISTS tenant_isolation_subscription ON public."Subscription";
DROP POLICY IF EXISTS tenant_isolation_student ON public."Student";
DROP POLICY IF EXISTS tenant_isolation_paymentschedule ON public."PaymentSchedule";
DROP POLICY IF EXISTS tenant_isolation_payment ON public."Payment";
DROP POLICY IF EXISTS tenant_isolation_organization ON public."Organization";
DROP POLICY IF EXISTS tenant_isolation_formation ON public."Formation";
DROP POLICY IF EXISTS tenant_isolation_expense ON public."Expense";
DROP POLICY IF EXISTS tenant_isolation_classgroup ON public."ClassGroup";
DROP POLICY IF EXISTS tenant_isolation_centerusers ON public."_CenterUsers";
DROP POLICY IF EXISTS tenant_isolation_center ON public."Center";
DROP POLICY IF EXISTS tenant_auditlog_insert ON public."AuditLog";
DROP POLICY IF EXISTS auth_read_user ON public."User";
ALTER TABLE IF EXISTS ONLY public."_CenterUsers" DROP CONSTRAINT IF EXISTS "_CenterUsers_B_fkey";
ALTER TABLE IF EXISTS ONLY public."_CenterUsers" DROP CONSTRAINT IF EXISTS "_CenterUsers_A_fkey";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_planId_fkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Student" DROP CONSTRAINT IF EXISTS "Student_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Student" DROP CONSTRAINT IF EXISTS "Student_classId_fkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_studentId_fkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_recordedById_fkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."PaymentSchedule" DROP CONSTRAINT IF EXISTS "PaymentSchedule_studentId_fkey";
ALTER TABLE IF EXISTS ONLY public."PaymentSchedule" DROP CONSTRAINT IF EXISTS "PaymentSchedule_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Formation" DROP CONSTRAINT IF EXISTS "Formation_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Expense" DROP CONSTRAINT IF EXISTS "Expense_recordedById_fkey";
ALTER TABLE IF EXISTS ONLY public."Expense" DROP CONSTRAINT IF EXISTS "Expense_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."Expense" DROP CONSTRAINT IF EXISTS "Expense_centerId_fkey";
ALTER TABLE IF EXISTS ONLY public."ClassGroup" DROP CONSTRAINT IF EXISTS "ClassGroup_organizationId_fkey";
ALTER TABLE IF EXISTS ONLY public."ClassGroup" DROP CONSTRAINT IF EXISTS "ClassGroup_formationId_fkey";
ALTER TABLE IF EXISTS ONLY public."ClassGroup" DROP CONSTRAINT IF EXISTS "ClassGroup_centerId_fkey";
ALTER TABLE IF EXISTS ONLY public."Center" DROP CONSTRAINT IF EXISTS "Center_organizationId_fkey";
DROP INDEX IF EXISTS public."_CenterUsers_B_index";
DROP INDEX IF EXISTS public."_CenterUsers_AB_unique";
DROP INDEX IF EXISTS public."User_matricule_key";
DROP INDEX IF EXISTS public."User_email_key";
DROP INDEX IF EXISTS public."Subscription_organizationId_key";
DROP INDEX IF EXISTS public."Student_matricule_organizationId_key";
DROP INDEX IF EXISTS public."Plan_name_key";
DROP INDEX IF EXISTS public."AuditLog_resource_resourceId_idx";
DROP INDEX IF EXISTS public."AuditLog_createdAt_idx";
DROP INDEX IF EXISTS public."AuditLog_action_idx";
ALTER TABLE IF EXISTS ONLY public."User" DROP CONSTRAINT IF EXISTS "User_pkey";
ALTER TABLE IF EXISTS ONLY public."Subscription" DROP CONSTRAINT IF EXISTS "Subscription_pkey";
ALTER TABLE IF EXISTS ONLY public."Student" DROP CONSTRAINT IF EXISTS "Student_pkey";
ALTER TABLE IF EXISTS ONLY public."Plan" DROP CONSTRAINT IF EXISTS "Plan_pkey";
ALTER TABLE IF EXISTS ONLY public."Payment" DROP CONSTRAINT IF EXISTS "Payment_pkey";
ALTER TABLE IF EXISTS ONLY public."PaymentSchedule" DROP CONSTRAINT IF EXISTS "PaymentSchedule_pkey";
ALTER TABLE IF EXISTS ONLY public."Organization" DROP CONSTRAINT IF EXISTS "Organization_pkey";
ALTER TABLE IF EXISTS ONLY public."Formation" DROP CONSTRAINT IF EXISTS "Formation_pkey";
ALTER TABLE IF EXISTS ONLY public."Expense" DROP CONSTRAINT IF EXISTS "Expense_pkey";
ALTER TABLE IF EXISTS ONLY public."ClassGroup" DROP CONSTRAINT IF EXISTS "ClassGroup_pkey";
ALTER TABLE IF EXISTS ONLY public."Center" DROP CONSTRAINT IF EXISTS "Center_pkey";
ALTER TABLE IF EXISTS ONLY public."AuditLog" DROP CONSTRAINT IF EXISTS "AuditLog_pkey";
DROP TABLE IF EXISTS public."_CenterUsers";
DROP TABLE IF EXISTS public."User";
DROP TABLE IF EXISTS public."Subscription";
DROP TABLE IF EXISTS public."Student";
DROP TABLE IF EXISTS public."Plan";
DROP TABLE IF EXISTS public."PaymentSchedule";
DROP TABLE IF EXISTS public."Payment";
DROP TABLE IF EXISTS public."Organization";
DROP TABLE IF EXISTS public."Formation";
DROP TABLE IF EXISTS public."Expense";
DROP TABLE IF EXISTS public."ClassGroup";
DROP TABLE IF EXISTS public."Center";
DROP TABLE IF EXISTS public."AuditLog";
DROP FUNCTION IF EXISTS public.rls_auto_enable();
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: rls_auto_enable(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.rls_auto_enable() RETURNS event_trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$
DECLARE
  cmd record;
BEGIN
  FOR cmd IN
    SELECT *
    FROM pg_event_trigger_ddl_commands()
    WHERE command_tag IN ('CREATE TABLE', 'CREATE TABLE AS', 'SELECT INTO')
      AND object_type IN ('table','partitioned table')
  LOOP
     IF cmd.schema_name IS NOT NULL AND cmd.schema_name IN ('public') AND cmd.schema_name NOT IN ('pg_catalog','information_schema') AND cmd.schema_name NOT LIKE 'pg_toast%' AND cmd.schema_name NOT LIKE 'pg_temp%' THEN
      BEGIN
        EXECUTE format('alter table if exists %s enable row level security', cmd.object_identity);
        RAISE LOG 'rls_auto_enable: enabled RLS on %', cmd.object_identity;
      EXCEPTION
        WHEN OTHERS THEN
          RAISE LOG 'rls_auto_enable: failed to enable RLS on %', cmd.object_identity;
      END;
     ELSE
        RAISE LOG 'rls_auto_enable: skip % (either system schema or not in enforced list: %.)', cmd.object_identity, cmd.schema_name;
     END IF;
  END LOOP;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "actorId" text NOT NULL,
    "actorEmail" text NOT NULL,
    "actorName" text NOT NULL,
    action text NOT NULL,
    resource text NOT NULL,
    "resourceId" text,
    details jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);

ALTER TABLE ONLY public."AuditLog" FORCE ROW LEVEL SECURITY;


--
-- Name: Center; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Center" (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    status text DEFAULT 'actif'::text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public."Center" FORCE ROW LEVEL SECURITY;


--
-- Name: ClassGroup; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ClassGroup" (
    id text NOT NULL,
    name text NOT NULL,
    status text DEFAULT 'ouverte'::text NOT NULL,
    capacity integer NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    "formationId" text NOT NULL,
    "centerId" text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public."ClassGroup" FORCE ROW LEVEL SECURITY;


--
-- Name: Expense; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Expense" (
    id text NOT NULL,
    title text NOT NULL,
    category text NOT NULL,
    amount double precision NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text,
    "recordedById" text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "centerId" text NOT NULL
);

ALTER TABLE ONLY public."Expense" FORCE ROW LEVEL SECURITY;


--
-- Name: Formation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Formation" (
    id text NOT NULL,
    name text NOT NULL,
    duration integer NOT NULL,
    "hasLevels" boolean DEFAULT false NOT NULL,
    "levelCount" integer,
    levels jsonb,
    "totalCost" double precision NOT NULL,
    status text DEFAULT 'actif'::text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public."Formation" FORCE ROW LEVEL SECURITY;


--
-- Name: Organization; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Organization" (
    id text NOT NULL,
    name text NOT NULL,
    "logoUrl" text,
    email text,
    phone text,
    address text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    status text DEFAULT 'actif'::text NOT NULL
);

ALTER TABLE ONLY public."Organization" FORCE ROW LEVEL SECURITY;


--
-- Name: Payment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    amount double precision NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    method text NOT NULL,
    motif text,
    reference text,
    "studentId" text NOT NULL,
    "recordedById" text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public."Payment" FORCE ROW LEVEL SECURITY;


--
-- Name: PaymentSchedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."PaymentSchedule" (
    id text NOT NULL,
    "totalAmount" double precision NOT NULL,
    "paidAmount" double precision NOT NULL,
    "remainingAmount" double precision NOT NULL,
    status text DEFAULT 'en_retard'::text NOT NULL,
    installments jsonb,
    "studentId" text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "installmentInterval" text DEFAULT '1_mois'::text NOT NULL,
    "installmentsCount" integer DEFAULT 0 NOT NULL,
    "registrationFee" double precision DEFAULT 0 NOT NULL
);

ALTER TABLE ONLY public."PaymentSchedule" FORCE ROW LEVEL SECURITY;


--
-- Name: Plan; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Plan" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price double precision DEFAULT 0 NOT NULL,
    "maxCenters" integer DEFAULT 1 NOT NULL,
    "maxStudents" integer DEFAULT 50 NOT NULL,
    "isPopular" boolean DEFAULT false NOT NULL,
    features jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Student; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Student" (
    id text NOT NULL,
    matricule text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    contact text NOT NULL,
    email text,
    gender text NOT NULL,
    "currentStatus" text DEFAULT 'en_cours'::text NOT NULL,
    "currentLevel" text,
    "enrollmentDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "progressionLogs" jsonb,
    "classId" text NOT NULL,
    "organizationId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);

ALTER TABLE ONLY public."Student" FORCE ROW LEVEL SECURITY;


--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Subscription" (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    status text DEFAULT 'trial'::text NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "maxCenters" integer DEFAULT 3 NOT NULL,
    "maxStudents" integer DEFAULT 200 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "planId" text
);

ALTER TABLE ONLY public."Subscription" FORCE ROW LEVEL SECURITY;


--
-- Name: User; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."User" (
    id text NOT NULL,
    matricule text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    roles text[],
    status text DEFAULT 'actif'::text NOT NULL,
    "organizationId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "avatarUrl" text,
    "isSuperAdmin" boolean DEFAULT false NOT NULL
);

ALTER TABLE ONLY public."User" FORCE ROW LEVEL SECURITY;


--
-- Name: _CenterUsers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."_CenterUsers" (
    "A" text NOT NULL,
    "B" text NOT NULL
);

ALTER TABLE ONLY public."_CenterUsers" FORCE ROW LEVEL SECURITY;


--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Center; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ClassGroup; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Expense; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Formation; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Organization; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Organization" (id, name, "logoUrl", email, phone, address, "createdAt", "updatedAt", status) FROM stdin;
3d2b5868-0cc4-41eb-aba6-31bf45197cea	Institut Lavoire	\N	admin@org-b.test	\N	\N	2026-09-02 01:00:27.921	2026-09-27 00:00:09.522	actif
0e83f155-6a19-4016-93e1-3687c95e6c9d	D institut	\N	dinstitut@gmail.com	+237 688 25 14 25	Yaound├®	2026-09-02 01:00:25.087	2026-09-27 01:40:13.352	actif
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: PaymentSchedule; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Plan" (id, name, description, price, "maxCenters", "maxStudents", "isPopular", features, "createdAt", "updatedAt") FROM stdin;
7d89dbf4-4bd5-437b-b15e-7770e23ee2b3	STARTER	Id├®al pour commencer	0	1	50	f	\N	2026-09-27 08:48:12.94	2026-09-27 08:48:12.94
8bb376a7-a469-4280-905f-a5b9412e7c65	PRO	Pour les structures en croissance	25000	3	200	t	null	2026-09-27 08:48:13.32	2026-09-27 09:44:00.771
24553018-8d8a-46a3-9776-1f3e962a923c	ENTERPRISE	Pour les grands r├®seaux	50000	10	1000	f	null	2026-09-27 08:48:13.495	2026-09-27 09:44:10.269
\.


--
-- Data for Name: Student; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Subscription" (id, "organizationId", status, "startDate", "endDate", "maxCenters", "maxStudents", "createdAt", "updatedAt", "planId") FROM stdin;
a20c6ba5-453b-4e55-ac15-48c85d6c79c0	0e83f155-6a19-4016-93e1-3687c95e6c9d	active	2026-09-26 23:33:03.568	2027-09-27 00:00:00	7	800	2026-09-26 23:33:03.57	2026-09-27 01:41:39.471	\N
9a56b690-27d8-4b49-9ad0-a2ea4575cbe5	3d2b5868-0cc4-41eb-aba6-31bf45197cea	active	2026-09-26 23:33:03.157	2026-09-27 00:00:00	3	200	2026-09-26 23:33:03.162	2026-09-27 10:02:17.726	\N
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: _CenterUsers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."_CenterUsers" ("A", "B") FROM stdin;
0bb9d628-4774-4d9e-964c-4e30a3ce22bf	c5c34151-f217-4d02-bb46-a47d1c24fc26
0d46dc93-bc59-4fd9-99e6-20899f0f9933	97378af7-a0f4-4cef-8717-5b710136de81
5dbead6c-1ad1-44cf-be70-90865a81d89a	a2cd910d-8026-49e6-a86d-93694764ac1b
\.


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: Center Center_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Center"
    ADD CONSTRAINT "Center_pkey" PRIMARY KEY (id);


--
-- Name: ClassGroup ClassGroup_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ClassGroup"
    ADD CONSTRAINT "ClassGroup_pkey" PRIMARY KEY (id);


--
-- Name: Expense Expense_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_pkey" PRIMARY KEY (id);


--
-- Name: Formation Formation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Formation"
    ADD CONSTRAINT "Formation_pkey" PRIMARY KEY (id);


--
-- Name: Organization Organization_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Organization"
    ADD CONSTRAINT "Organization_pkey" PRIMARY KEY (id);


--
-- Name: PaymentSchedule PaymentSchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PaymentSchedule"
    ADD CONSTRAINT "PaymentSchedule_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: Student Student_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_pkey" PRIMARY KEY (id);


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_resource_resourceId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "AuditLog_resource_resourceId_idx" ON public."AuditLog" USING btree (resource, "resourceId");


--
-- Name: Plan_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Plan_name_key" ON public."Plan" USING btree (name);


--
-- Name: Student_matricule_organizationId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Student_matricule_organizationId_key" ON public."Student" USING btree (matricule, "organizationId");


--
-- Name: Subscription_organizationId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Subscription_organizationId_key" ON public."Subscription" USING btree ("organizationId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_matricule_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "User_matricule_key" ON public."User" USING btree (matricule);


--
-- Name: _CenterUsers_AB_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "_CenterUsers_AB_unique" ON public."_CenterUsers" USING btree ("A", "B");


--
-- Name: _CenterUsers_B_index; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "_CenterUsers_B_index" ON public."_CenterUsers" USING btree ("B");


--
-- Name: Center Center_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Center"
    ADD CONSTRAINT "Center_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassGroup ClassGroup_centerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ClassGroup"
    ADD CONSTRAINT "ClassGroup_centerId_fkey" FOREIGN KEY ("centerId") REFERENCES public."Center"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassGroup ClassGroup_formationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ClassGroup"
    ADD CONSTRAINT "ClassGroup_formationId_fkey" FOREIGN KEY ("formationId") REFERENCES public."Formation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClassGroup ClassGroup_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ClassGroup"
    ADD CONSTRAINT "ClassGroup_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Expense Expense_centerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_centerId_fkey" FOREIGN KEY ("centerId") REFERENCES public."Center"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Expense Expense_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Expense Expense_recordedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Expense"
    ADD CONSTRAINT "Expense_recordedById_fkey" FOREIGN KEY ("recordedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Formation Formation_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Formation"
    ADD CONSTRAINT "Formation_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentSchedule PaymentSchedule_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PaymentSchedule"
    ADD CONSTRAINT "PaymentSchedule_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PaymentSchedule PaymentSchedule_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."PaymentSchedule"
    ADD CONSTRAINT "PaymentSchedule_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_recordedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_recordedById_fkey" FOREIGN KEY ("recordedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Payment Payment_studentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES public."Student"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Student Student_classId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_classId_fkey" FOREIGN KEY ("classId") REFERENCES public."ClassGroup"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Student Student_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Student"
    ADD CONSTRAINT "Student_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public."Organization"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _CenterUsers _CenterUsers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."_CenterUsers"
    ADD CONSTRAINT "_CenterUsers_A_fkey" FOREIGN KEY ("A") REFERENCES public."Center"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _CenterUsers _CenterUsers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."_CenterUsers"
    ADD CONSTRAINT "_CenterUsers_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: AuditLog; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."AuditLog" ENABLE ROW LEVEL SECURITY;

--
-- Name: Center; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Center" ENABLE ROW LEVEL SECURITY;

--
-- Name: ClassGroup; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."ClassGroup" ENABLE ROW LEVEL SECURITY;

--
-- Name: Expense; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Expense" ENABLE ROW LEVEL SECURITY;

--
-- Name: Formation; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Formation" ENABLE ROW LEVEL SECURITY;

--
-- Name: Organization; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Organization" ENABLE ROW LEVEL SECURITY;

--
-- Name: Payment; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Payment" ENABLE ROW LEVEL SECURITY;

--
-- Name: PaymentSchedule; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."PaymentSchedule" ENABLE ROW LEVEL SECURITY;

--
-- Name: Plan; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Plan" ENABLE ROW LEVEL SECURITY;

--
-- Name: Student; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Student" ENABLE ROW LEVEL SECURITY;

--
-- Name: Subscription; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."Subscription" ENABLE ROW LEVEL SECURITY;

--
-- Name: User; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."User" ENABLE ROW LEVEL SECURITY;

--
-- Name: _CenterUsers; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public."_CenterUsers" ENABLE ROW LEVEL SECURITY;

--
-- Name: User auth_read_user; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY auth_read_user ON public."User" FOR SELECT TO app_auth USING (true);


--
-- Name: AuditLog tenant_auditlog_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_auditlog_insert ON public."AuditLog" FOR INSERT TO app_user WITH CHECK (true);


--
-- Name: Center tenant_isolation_center; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_center ON public."Center" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: _CenterUsers tenant_isolation_centerusers; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_centerusers ON public."_CenterUsers" TO app_user USING ((EXISTS ( SELECT 1
   FROM public."Center"
  WHERE (("Center".id = "_CenterUsers"."A") AND ("Center"."organizationId" = current_setting('app.org_id'::text, true)))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public."Center"
  WHERE (("Center".id = "_CenterUsers"."A") AND ("Center"."organizationId" = current_setting('app.org_id'::text, true))))));


--
-- Name: ClassGroup tenant_isolation_classgroup; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_classgroup ON public."ClassGroup" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: Expense tenant_isolation_expense; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_expense ON public."Expense" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: Formation tenant_isolation_formation; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_formation ON public."Formation" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: Organization tenant_isolation_organization; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_organization ON public."Organization" TO app_user USING ((id = current_setting('app.org_id'::text, true))) WITH CHECK ((id = current_setting('app.org_id'::text, true)));


--
-- Name: Payment tenant_isolation_payment; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_payment ON public."Payment" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: PaymentSchedule tenant_isolation_paymentschedule; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_paymentschedule ON public."PaymentSchedule" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: Student tenant_isolation_student; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_student ON public."Student" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: Subscription tenant_isolation_subscription; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_subscription ON public."Subscription" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- Name: User tenant_isolation_user; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_user ON public."User" TO app_user USING (("organizationId" = current_setting('app.org_id'::text, true))) WITH CHECK (("organizationId" = current_setting('app.org_id'::text, true)));


--
-- PostgreSQL database dump complete
--

\unrestrict cqFcpX4JmVx2s3Z1sUj8qVnEHd1pJLH5kBizP2jbZtfm56iFxycb0OYT1lFFBkf

